{% extends "bootstrap/base.html" %}

{% block title %}Hello {% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
    <h1>Hello World!</h1>
    <button type="button" class="btn btn-success">aaa</button>
    </div>
</div>
<font color="blue">今から</font><font color="red">ここは</font><font color="green">倫理です</font>
<br><br><br>
<strong><u>aaa</u></strong>
<br><br><br>
<a href= "https://us02web.zoom.us/j/88660299617?pwd=dFV4VUY5K0ZoYUQ0OWQ2VDVjaGMrQT09" >zoomのURL</a>
<br>
<img src="Dn1lv3kWkAEePa1.jpg">

<form action="cgi-bin/abc.cgi" method="post">
<p>
名前：<input type="text" name="namae">
</p>
<p>
<input type="image" src="images/kaeru.png" alt="押してケロ♪">
</p>
</form>
{% endblock %}